.h1Left{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-left: 50px;
    margin-top: 25px;
}

.imgLeft{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.divHeadLeft{
    width: 700px;
    height: 2px;
    background-color: #99958C;
    margin-left: 50px;
    margin-top: 0px;
}

